/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.subtitle,
.second-subtitle {
    margin-bottom: 20px;
}

.second-subtitle {
    margin-top: 20px;
}

.table-option {
    width: 80px;
}
