{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h2>Stock's Current Price</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ stock_name }}</th>
                <th scope="row">{{ stock_price }}</th>
            </tr>
        </tbody>
    </table>
{% endblock %}
